## Solar Power Generation Project

In [1]:
#importing required packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
#loading datasets
data2017 = pd.read_csv('2017_Data.csv')
data2018 = pd.read_csv('2018_Data.csv')
data2019 = pd.read_csv('2019_Data.csv')

In [3]:
data2017.head(3)

,Year,Month,Day,Hour,Minute,GHI,Clearsky GHI,Cloud Type,Dew Point,Solar Zenith Angle,Fill Flag,Surface Albedo,Wind Speed,Precipitable Water,Wind Direction,Relative Humidity,Temperature,Pressure
0,2017,1,1,0,0,0,0,8,2,166.36,0,0.157,1.1,1.430,42.8,100.0,4,930
1,2017,1,1,0,30,0,0,8,2,163.49,0,0.157,1.1,1.416,42.8,100.0,4,930
2,2017,1,1,1,0,0,0,3,2,158.95,0,0.157,1.1,1.403,35.1,100.0,4,930

In [4]:
data2017.shape

(17520, 18)

In [5]:
data2018.head(3)

,Year,Month,Day,Hour,Minute,GHI,Clearsky GHI,Cloud Type,Dew Point,Solar Zenith Angle,Fill Flag,Surface Albedo,Wind Speed,Precipitable Water,Wind Direction,Relative Humidity,Temperature,Pressure
0,2018,1,1,0,0,0,0,0,-10.1,166.39,0,0.17,1.5,0.6,4,26.75,7.9,948
1,2018,1,1,0,30,0,0,0,-10.1,163.50,0,0.17,1.5,0.6,181,27.68,7.4,948
2,2018,1,1,1,0,0,0,0,-9.5,158.96,0,0.17,1.6,0.6,357,30.04,6.9,948

In [6]:
data2018.shape

(17520, 18)

In [7]:
data2019.head(3)

,Year,Month,Day,Hour,Minute,GHI,Clearsky GHI,Cloud Type,Dew Point,Solar Zenith Angle,Fill Flag,Surface Albedo,Wind Speed,Precipitable Water,Wind Direction,Relative Humidity,Temperature,Pressure
0,2019,1,1,0,0,0,0,0,-12.6,166.40,0,0.17,3.2,0.4,358,40.83,-0.9,943
1,2019,1,1,0,30,0,0,0,-12.6,163.50,0,0.17,3.2,0.4,357,41.13,-1.0,943
2,2019,1,1,1,0,0,0,0,-12.6,158.95,0,0.17,3.2,0.4,356,41.79,-1.2,943

In [8]:
data2017.columns

Index(['Year', 'Month', 'Day', 'Hour', 'Minute', 'GHI', 'Clearsky GHI',
       'Cloud Type', 'Dew Point', 'Solar Zenith Angle', 'Fill Flag',
       'Surface Albedo', 'Wind Speed', 'Precipitable Water', 'Wind Direction',
       'Relative Humidity', 'Temperature', 'Pressure'],
      dtype='object')

In [9]:
data2018.columns

Index(['Year', 'Month', 'Day', 'Hour', 'Minute', 'GHI', 'Clearsky GHI',
       'Cloud Type', 'Dew Point', 'Solar Zenith Angle', 'Fill Flag',
       'Surface Albedo', 'Wind Speed', 'Precipitable Water', 'Wind Direction',
       'Relative Humidity', 'Temperature', 'Pressure'],
      dtype='object')

In [10]:
data2019.columns

Index(['Year', 'Month', 'Day', 'Hour', 'Minute', 'GHI', 'Clearsky GHI',
       'Cloud Type', 'Dew Point', 'Solar Zenith Angle', 'Fill Flag',
       'Surface Albedo', 'Wind Speed', 'Precipitable Water', 'Wind Direction',
       'Relative Humidity', 'Temperature', 'Pressure'],
      dtype='object')

In [11]:
datasets = [data2017,data2018,data2019]
df = pd.concat(datasets)

In [12]:
df['Year'].unique()

array([2017, 2018, 2019], dtype=int64)

In [13]:
df.columns

Index(['Year', 'Month', 'Day', 'Hour', 'Minute', 'GHI', 'Clearsky GHI',
       'Cloud Type', 'Dew Point', 'Solar Zenith Angle', 'Fill Flag',
       'Surface Albedo', 'Wind Speed', 'Precipitable Water', 'Wind Direction',
       'Relative Humidity', 'Temperature', 'Pressure'],
      dtype='object')

In [14]:
df.describe()

,Year,Month,Day,Hour,Minute,GHI,Clearsky GHI,Cloud Type,Dew Point,Solar Zenith Angle,Fill Flag,Surface Albedo,Wind Speed,Precipitable Water,Wind Direction,Relative Humidity,Temperature,Pressure
count,52560.000000,52560.000000,52560.000000,52560.000000,52560.000000,52560.000000,52560.000000,52560.000000,52560.000000,52560.000000,52560.000000,52560.000000,52560.000000,52560.000000,52560.000000,52560.000000,52560.00000,52560.000000
mean,2018.000000,6.526027,15.720548,11.500000,15.000000,233.314669,256.760331,2.096766,-0.440409,89.689162,0.227340,0.179440,2.588415,1.386231,183.342154,32.234062,20.46121,940.898973
std,0.816504,3.447884,8.796331,6.922252,15.000143,317.244451,331.939308,2.975211,7.479977,38.039271,0.850164,0.022069,1.807017,0.893441,106.711185,20.801842,10.86176,5.191706
min,2017.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-26.100000,12.990000,0.000000,0.157000,0.000000,0.100000,0.000000,3.160000,-2.60000,920.000000
25%,2017.000000,4.000000,8.000000,5.750000,0.000000,0.000000,0.000000,0.000000,-5.100000,59.160000,0.000000,0.180000,1.300000,0.800000,96.000000,16.130000,11.70000,939.000000
50%,2018.000000,7.000000,16.000000,11.500000,15.000000,0.000000,0.000000,0.000000,-0.400000,89.560000,0.000000,0.180000,2.000000,1.158000,205.000000,27.060000,19.80000,940.000000
75%,2019.000000,10.000000,23.000000,17.250000,30.000000,456.000000,525.000000,4.000000,4.200000,120.380000,0.000000,0.181000,3.500000,1.700000,245.000000,43.500000,28.90000,944.000000
max,2019.000000,12.000000,31.000000,23.000000,30.000000,1067.000000,1067.000000,9.000000,23.000000,167.150000,5.000000,0.870000,13.400000,6.600000,360.000000,100.000000,47.00000,960.000000

In [15]:
df.columns

Index(['Year', 'Month', 'Day', 'Hour', 'Minute', 'GHI', 'Clearsky GHI',
       'Cloud Type', 'Dew Point', 'Solar Zenith Angle', 'Fill Flag',
       'Surface Albedo', 'Wind Speed', 'Precipitable Water', 'Wind Direction',
       'Relative Humidity', 'Temperature', 'Pressure'],
      dtype='object')

In [16]:
df.shape

(52560, 18)

In [17]:
df.head()

,Year,Month,Day,Hour,Minute,GHI,Clearsky GHI,Cloud Type,Dew Point,Solar Zenith Angle,Fill Flag,Surface Albedo,Wind Speed,Precipitable Water,Wind Direction,Relative Humidity,Temperature,Pressure
0,2017,1,1,0,0,0,0,8,2.0,166.36,0,0.157,1.1,1.430,42.8,100.0,4.0,930
1,2017,1,1,0,30,0,0,8,2.0,163.49,0,0.157,1.1,1.416,42.8,100.0,4.0,930
2,2017,1,1,1,0,0,0,3,2.0,158.95,0,0.157,1.1,1.403,35.1,100.0,4.0,930
3,2017,1,1,1,30,0,0,1,2.0,153.60,0,0.157,1.1,1.390,35.1,100.0,4.0,930
4,2017,1,1,2,0,0,0,0,2.0,147.87,0,0.157,1.1,1.378,22.3,100.0,4.0,930

In [18]:
datetime_series = pd.Series(pd.date_range(start = '2017-01-01',periods = 52560,freq = '30min'),name = 'DateSeries')

In [19]:
datetime_series

0       2017-01-01 00:00:00
1       2017-01-01 00:30:00
2       2017-01-01 01:00:00
3       2017-01-01 01:30:00
4       2017-01-01 02:00:00
                ...
52555   2019-12-31 21:30:00
52556   2019-12-31 22:00:00
52557   2019-12-31 22:30:00
52558   2019-12-31 23:00:00
52559   2019-12-31 23:30:00
Name: DateSeries, Length: 52560, dtype: datetime64[ns]

In [20]:
df.tail()

,Year,Month,Day,Hour,Minute,GHI,Clearsky GHI,Cloud Type,Dew Point,Solar Zenith Angle,Fill Flag,Surface Albedo,Wind Speed,Precipitable Water,Wind Direction,Relative Humidity,Temperature,Pressure
17515,2019,12,31,21,30,0,0,4,-12.3,148.27,0,0.17,2.5,0.4,16.0,39.28,-0.1,942
17516,2019,12,31,22,0,0,0,0,-12.7,153.99,0,0.17,2.7,0.4,11.0,38.54,-0.3,942
17517,2019,12,31,22,30,0,0,0,-12.7,159.31,0,0.17,2.9,0.4,6.0,39.10,-0.5,942
17518,2019,12,31,23,0,0,0,0,-12.7,163.78,0,0.17,3.0,0.4,2.0,39.78,-0.7,942
17519,2019,12,31,23,30,0,0,0,-12.7,166.51,0,0.17,3.1,0.4,180.0,40.12,-0.8,943

In [21]:
datetime_series

0       2017-01-01 00:00:00
1       2017-01-01 00:30:00
2       2017-01-01 01:00:00
3       2017-01-01 01:30:00
4       2017-01-01 02:00:00
                ...
52555   2019-12-31 21:30:00
52556   2019-12-31 22:00:00
52557   2019-12-31 22:30:00
52558   2019-12-31 23:00:00
52559   2019-12-31 23:30:00
Name: DateSeries, Length: 52560, dtype: datetime64[ns]

In [22]:
df = df.set_index(datetime_series)

In [23]:
# df

In [24]:
df.loc['2017-01-01 00:00:00':'2017-01-01 01:30:00']

,Year,Month,Day,Hour,Minute,GHI,Clearsky GHI,Cloud Type,Dew Point,Solar Zenith Angle,Fill Flag,Surface Albedo,Wind Speed,Precipitable Water,Wind Direction,Relative Humidity,Temperature,Pressure
DateSeries,,,,,,,,,,,,,,,,,,
2017-01-01 00:00:00,2017,1,1,0,0,0,0,8,2.0,166.36,0,0.157,1.1,1.430,42.8,100.0,4.0,930
2017-01-01 00:30:00,2017,1,1,0,30,0,0,8,2.0,163.49,0,0.157,1.1,1.416,42.8,100.0,4.0,930
2017-01-01 01:00:00,2017,1,1,1,0,0,0,3,2.0,158.95,0,0.157,1.1,1.403,35.1,100.0,4.0,930
2017-01-01 01:30:00,2017,1,1,1,30,0,0,1,2.0,153.60,0,0.157,1.1,1.390,35.1,100.0,4.0,930

In [25]:
df.head(1)

,Year,Month,Day,Hour,Minute,GHI,Clearsky GHI,Cloud Type,Dew Point,Solar Zenith Angle,Fill Flag,Surface Albedo,Wind Speed,Precipitable Water,Wind Direction,Relative Humidity,Temperature,Pressure
DateSeries,,,,,,,,,,,,,,,,,,
2017-01-01,2017,1,1,0,0,0,0,8,2.0,166.36,0,0.157,1.1,1.43,42.8,100.0,4.0,930

In [26]:
#dropping irrelavant columns from the dataframe
new_df = df.drop(columns = ['Clearsky GHI','Fill Flag'])

In [27]:
new_df

,Year,Month,Day,Hour,Minute,GHI,Cloud Type,Dew Point,Solar Zenith Angle,Surface Albedo,Wind Speed,Precipitable Water,Wind Direction,Relative Humidity,Temperature,Pressure
DateSeries,,,,,,,,,,,,,,,,
2017-01-01 00:00:00,2017,1,1,0,0,0,8,2.0,166.36,0.157,1.1,1.430,42.8,100.00,4.0,930
2017-01-01 00:30:00,2017,1,1,0,30,0,8,2.0,163.49,0.157,1.1,1.416,42.8,100.00,4.0,930
2017-01-01 01:00:00,2017,1,1,1,0,0,3,2.0,158.95,0.157,1.1,1.403,35.1,100.00,4.0,930
2017-01-01 01:30:00,2017,1,1,1,30,0,1,2.0,153.60,0.157,1.1,1.390,35.1,100.00,4.0,930
2017-01-01 02:00:00,2017,1,1,2,0,0,0,2.0,147.87,0.157,1.1,1.378,22.3,100.00,4.0,930
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019-12-31 21:30:00,2019,12,31,21,30,0,4,-12.3,148.27,0.170,2.5,0.400,16.0,39.28,-0.1,942
2019-12-31 22:00:00,2019,12,31,22,0,0,0,-12.7,153.99,0.170,2.7,0.400,11.0,38.54,-0.3,942
2019-12-31 22:30:00,2019,12,31,22,30,0,0,-12.7,159.31,0.170,2.9,0.400,6.0,39.10,-0.5,942
2019-12-31 23:00:00,2019,12,31,23,0,0,0,-12.7,163.78,0.170,3.0,0.400,2.0,39.78,-0.7,942
2019-12-31 23:30:00,2019,12,31,23,30,0,0,-12.7,166.51,0.170,3.1,0.400,180.0,40.12,-0.8,943

In [28]:
#Features we need in model
# Year Day Hour-Minute Surface Albedo Cloud Type Dew Point Zenith Angle,Month Pressure Wind Direction Wind Speed Relative Humidity Temperature Precip. Water

In [29]:
#reordering the index of columns in the dataframe
column_names = ['Year','Day','Hour','Minute','Surface Albedo','Cloud Type','Dew Point','Solar Zenith Angle','Month','Pressure','Wind Direction','Wind Speed','Relative Humidity','Temperature','Precipitable Water','GHI']
new_df = new_df.reindex(columns=column_names)

In [30]:
new_df.head()

,Year,Day,Hour,Minute,Surface Albedo,Cloud Type,Dew Point,Solar Zenith Angle,Month,Pressure,Wind Direction,Wind Speed,Relative Humidity,Temperature,Precipitable Water,GHI
DateSeries,,,,,,,,,,,,,,,,
2017-01-01 00:00:00,2017,1,0,0,0.157,8,2.0,166.36,1,930,42.8,1.1,100.0,4.0,1.430,0
2017-01-01 00:30:00,2017,1,0,30,0.157,8,2.0,163.49,1,930,42.8,1.1,100.0,4.0,1.416,0
2017-01-01 01:00:00,2017,1,1,0,0.157,3,2.0,158.95,1,930,35.1,1.1,100.0,4.0,1.403,0
2017-01-01 01:30:00,2017,1,1,30,0.157,1,2.0,153.60,1,930,35.1,1.1,100.0,4.0,1.390,0
2017-01-01 02:00:00,2017,1,2,0,0.157,0,2.0,147.87,1,930,22.3,1.1,100.0,4.0,1.378,0

In [31]:
# new_df.to_csv('cleaned_weather_data.csv')

In [32]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 52560 entries, 2017-01-01 00:00:00 to 2019-12-31 23:30:00
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                52560 non-null  int64
 1   Day                 52560 non-null  int64
 2   Hour                52560 non-null  int64
 3   Minute              52560 non-null  int64
 4   Surface Albedo      52560 non-null  float64
 5   Cloud Type          52560 non-null  int64
 6   Dew Point           52560 non-null  float64
 7   Solar Zenith Angle  52560 non-null  float64
 8   Month               52560 non-null  int64
 9   Pressure            52560 non-null  int64
 10  Wind Direction      52560 non-null  float64
 11  Wind Speed          52560 non-null  float64
 12  Relative Humidity   52560 non-null  float64
 13  Temperature         52560 non-null  float64
 14  Precipitable Water  52560 non-null  float64
 15  GHI                 52560 non-null  int64
dtypes: float64(8), int64(8)
memory usage: 8.3 MB

In [33]:
new_df.isna().sum()

Year                  0
Day                   0
Hour                  0
Minute                0
Surface Albedo        0
Cloud Type            0
Dew Point             0
Solar Zenith Angle    0
Month                 0
Pressure              0
Wind Direction        0
Wind Speed            0
Relative Humidity     0
Temperature           0
Precipitable Water    0
GHI                   0
dtype: int64

In [34]:
new_df.head(3)

,Year,Day,Hour,Minute,Surface Albedo,Cloud Type,Dew Point,Solar Zenith Angle,Month,Pressure,Wind Direction,Wind Speed,Relative Humidity,Temperature,Precipitable Water,GHI
DateSeries,,,,,,,,,,,,,,,,
2017-01-01 00:00:00,2017,1,0,0,0.157,8,2.0,166.36,1,930,42.8,1.1,100.0,4.0,1.430,0
2017-01-01 00:30:00,2017,1,0,30,0.157,8,2.0,163.49,1,930,42.8,1.1,100.0,4.0,1.416,0
2017-01-01 01:00:00,2017,1,1,0,0.157,3,2.0,158.95,1,930,35.1,1.1,100.0,4.0,1.403,0

## Training and Testing Model

In [35]:
x = new_df.drop(columns = ['GHI'])
y = new_df[['GHI']]

In [46]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size = 0.2,random_state = 10)

In [47]:
from sklearn import tree
model = tree.DecisionTreeRegressor()
model.fit(x_train,y_train)

DecisionTreeRegressor()

In [48]:
y_predict = model.predict(x_test)

## Accuracy Score of Model

In [49]:
from sklearn.metrics import r2_score

In [50]:
model.score(x_test,y_test)

0.9784887489318241

In [51]:
r2_score(y_test,y_predict)

0.9784887489318241

## Checking the accuracy of Model

#### Cross - checking first 10 values

In [52]:
y_predict[:10]

array([  0.,   0., 628.,   0.,   0.,   0., 995., 508., 485., 658.])

In [54]:
y_test.iloc[:10]

                      GHI
DateSeries
2018-02-23 00:30:00     0
2019-10-12 05:30:00     0
2019-01-31 11:30:00   627
2018-01-16 17:00:00     0
2017-03-16 05:00:00     0
2017-01-27 20:30:00     0
2019-07-21 12:30:00  1009
2017-11-17 13:00:00   516
2019-04-17 07:30:00   473
2017-09-04 10:30:00   765

#### Cross- checking last 10 values

In [55]:
y_predict[:-10:-1]

array([762.,   0.,   0., 626., 783.,   0.,   0.,  22.,   0.])

In [56]:
y_test.iloc[:-10:-1]

                     GHI
DateSeries
2018-07-22 14:30:00  769
2019-08-05 03:30:00    0
2018-12-07 01:00:00    0
2018-10-03 09:30:00  668
2017-08-27 14:00:00  763
2018-01-03 20:00:00    0
2019-08-05 20:30:00    0
2017-03-23 06:00:00   24
2017-10-07 04:30:00    0

## Conclusion:
    
Since the values are continuous in nature, the predicted values are almost same as true values.
And the accuracy of predicting the output is 97%.